:root {
  --background: #FAF9F6;
  --border: #0E1212;
  --text-color: #0E1212;
  --darkred: #a30e0e;
  --darkgreen: #066106;
  --blue: #12128c;
}

@media(prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a !important;
    --border: #555556 !important;
    --text-color: #d8d8d5 !important;
    --blue: #5381d5;
  }
}

.red {
  color: var(--darkred);
}

.green {
  color: var(--darkgreen);
}

.blue {
  color: var(--blue);
}

.bold {
  font-weight: bold;
}

html {
  background-color: var(--background);
}

body {
  font: 1rem "Century Gothic", Futura, sans-serif;
  margin: 0.5rem;
  color: var(--text-color);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}




